body {
   background: #C9D6FF;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* El nombre de la APP */
.titulo {
  color: #22577a;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.tarea_hecha {
    text-decoration: line-through;
    color: #cfcfcf;
}

.list-group-item {
    background-color: #f5ebe0;
}

.card-header {
    background-color: #d6ccc2;
    border-bottom: 1px solid #ddd;
}